/*
  ========================================
  Buttons
  ========================================
*/
.btn {
    border-radius: 5px;
    color: #353374;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 30px auto;
    text-transform: uppercase;
    background: greenyellow;
    z-index: 6;
}
.btn-alt {
    border: 1px solid #912C2C;
    padding: 5px 15px;
}

.btn-alt:hover {
    background:#FFF;
    color: #648880;
}

.bg_1{
    background:url(../images/mainbackgrd.png);
}

/*.bg_1::before{*/
    /*content:"";*/
    /*background:yellowgreen;*/
    /*background:url(../images/bg_1-b.png) bottom center no-repeat;*/
    /*background-size:100% auto;*/
    /*position:absolute;*/
    /*top:0;*/
    /*bottom:0;*/
    /*left:0;*/
    /*right:0;}*/


.intro{
    width:80%;
    margin:15% auto auto auto;/*top right bottom left*/;
    background: rgb(232, 208, 77);
    letter-spacing: 1.0px;
    border: 1px solid #000000;
    border-radius: 10px 15px 10px 15px;
    padding:10px;
    min-height: 280px;
    font-size:larger;
    text-align: justify;
}
/*
start
*/
.wrap{
    width:100%;
    min-height:100%;
    max-width:720px;
    min-width:320px;
    margin:auto;
    display:block;
}
.main{
    position:absolute;
    min-height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    max-width:720px;
    margin:auto;
}

/*
animation
*/
.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}
.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0.01;
}

img.figure{
    max-height: 200px;
    max-width: 80%;
    margin:10px auto;
    display: block;
}

img.starpic{
    width:100px;
    height: 20px;
    margin:5px auto;
}


.table01{
    width:88%;
    margin:100px auto auto auto;
    background:#fae798;
    border-radius:10px;
    position:relative;
    padding:10px;
    min-height:280px;
}

.table02{
    width:88%;
    margin:25% auto 60px auto;
    background:#fae798;
    border-radius:10px;
    padding:10px;
}
.table02-cont{
    background:#fad20e;
    border-radius:10px;
    height:100%;
    box-shadow:inset 0 0 10px 1px rgba(0,0,0,0.5);
}
.table02 table{
    width:100%;
}
.table02 table td{
    border-top:1px solid #faaf0e;
    padding:8px 0;
}
.table02 table tr:first-child td{
    border-top:0;
}
.table02 table td p{
    text-align:center;
    color:#e5493c;
    font-size:16px;
    line-height:120%;
}

td>p{
    margin:5px 10px;
}

.startbtn{
    margin:10px auto;
    display: block;
}
.prevbtn{
    margin:auto auto;
    display: block;
}
.footer02{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    height:35px;
    background:#51c6e7;
    padding:5px 0;
}